<div class="menu" id="NewsMenu">
    <ul>
        <li>
            <a href="../ExamList.aspx">Avalable Exam</a>
            <a href="../ExamGuidline.aspx">Exam Guidline</a>
            <a href="../Users/Examination.aspx">Take an Exam</a>
            <a href="../Application.aspx">Apply an Exam</a>
            <a href="../AllResult.aspx">View Rsult</a>
            <a href="../ExamHelper.aspx">Exam Helper </a>
            <a href="../HelpService/Books.aspx">Books</a>
            <a href="../Information.aspx">Latest Information</a>
            <a href="../NewsBox.aspx">Eaxm News</a>
            <a href="http://rajib3707.blogspot.com">Blog</a>
            <a href="../About.aspx">About Us</a>
        </li>
    </ul>
</div>
<script type="text/javascript">
    new Sys.WebForms.Menu({ element: 'NewsMenu', disappearAfter: 500, orientation: 'vertical', tabIndex: 0, disabled: false });
</script>