@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href=@Url.Content("~/Content/Contract_CSS.css.css") type="text/css" media="all" />
<div id="content">
    <h1> Contact US </h1>

    <p style="font-family:'Buxton Sketch';font-size: xx-large;color:rgba(109, 15, 191, 0.58)"> Call : 01688504445</p>

    <p style="font-family:'Buxton Sketch';font-size: xx-large;color:#ff0000"> E-mail us : <span><a href="mailto:info@multishopbd.com" style="font-family:'Buxton Sketch';font-size: xx-large;color:rgba(6, 213, 49, 0.88)">info@multishopbd.com</a></span></p>
    
    <p style="font-family:'Buxton Sketch';font-size: xx-large;color:chocolate">Click here:<span><a href="https://www.facebook.com/Multishopbd" style="font-family:'Buxton Sketch';font-size: xx-large;color:rgba(48, 77, 157, 0.99)">Find us on Facebook</a></span></p>
    
      @*<form action=" " method="post" autocomplete="on">
        <p> <label for="username" class="iconic user"> Name <span class="required">*</span></label> <input type="text" name="username" id="username" required="required" placeholder="Hi friend, how may I call you ?" /> </p>

        <p> <label for="usermail" class="iconic mail-alt"> E-mail address <span class="required">*</span></label> <input type="email" name="usermail" id="usermail" placeholder="I promise I hate spam as much as you do" required="required" /> </p>

        <p> <label for="mobile no:" class="iconic link"> Mobile No </label> <input type="text" name="usersite" id="usersite" placeholder="+880" /> </p>

        <p> <label for="subject" class="iconic quote-alt"> Subject </label> <input type="text" name="subject" id="subject" placeholder="What would you like to talk about?" /> </p>

        <p> <label for="message" class="iconic comment"> Message  <span class="required">*</span></label> <textarea placeholder="Don't be shy, live me a friendly message and I'll answer as soon as possible " required="required"></textarea> </p>
        <p class="indication"> All fields with a <span class="required">*</span> are required</p>

        <input type="submit" value=" ★  Send the mail !" />
        <a href="http://multishopbd.com"><strong><span style="margin-left:50px;">Developed by :<span style="color:red;">Multi</span><span style="color: rgb(157, 221, 157);">Shop</span><span style="color:red;">BD</span></span></strong></a>
    </form>*@
</div> 
