@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:50px; font-size:15px;">
    <h2>Service</h2>
    <p>
        All physical products sold on Multishopbd.com are covered by our 5 Days Replacement Guarantee.
        The following shall not be eligible for replacement:
        <ul style="list-style:disc;">
            <li>
                Damages due to misuse of product.
            </li>
            <li>
                Incidental damage due to malfunctioning of product.
            </li>
            <li>
                Any consumable item which has been used or installed.
            </li>
            <li>
                Products with tampered or missing serial / UPC numbers.
            </li>
            <li>
                Innerwear, lingerie, socks and clothing freebies.
            </li>
            <li>
                Any damage / defect which are not covered under the manufacturer's warranty.
            </li>
            <li>
                Any product that is returned without all original packaging and accessories, including the box, manufacturer's packaging if any, and all other items originally included with the product(s) delivered.
            </li>
        </ul>
    </p>
    <p>
        <h4>Note:</h4>
        Replacement of the product is subject to availability of the same on Multishopbd.com.

    </p>
    
    <p>

        You can cancel an order on Multishopbd.com For outright cancellations contact Customer Support. If you cancel your order before your product has been shipped, we will refund the entire amount.
        If you received the product, it will be eligible for 7 Days Replacement, only in cases where there are defects found with the product. Contact customer support immediately if you receive any.

    </p>
</div>